.app-wordlist button {
    background: none;
    border: none;
    color: #08E;
    margin: 0;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
}

.app-wordlist {
    width: 100%;
    height: 100vh;
    border-right: 1px solid #ddd;
}

.app-wordlist-header {
    display: flex;
    /* padding: 25px; */
    align-items: center;
    /* justify-content: space-between; */
    /* padding: 25px; */
    padding-bottom: 15px;
}

/* 新規作成ボタン */
.app-wordlist-header button {
    margin-left: 20px;
    border: 2px solid;
    padding: 5px 16px;
    color: rgb(250, 155, 103);
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.796);
}
.app-wordlist-header button:hover{
    color: rgb(248, 247, 246);
    background-color: rgb(250, 155, 103);
}

/* CSV出力ボタン */
.app-wordlist-header .csv_output{
    color: rgb(50, 239, 144);
}
.app-wordlist-header .csv_output:hover{
    color: rgb(248, 247, 246);
    background-color: rgb(50, 239, 144);
}

/* CSV入力ボタン */
.app-wordlist-header .csv_input{
    color: rgb(250, 103, 172);
}
.app-wordlist-header .csv_input:hover{
    color: rgb(248, 247, 246);
    background-color: rgb(250, 103, 172);
}

/* 英語を読むボタン */
.app-wordlist-note>button{
    margin-right: 20px;
    border: 2px solid;
    padding: 5px;
    color: rgb(45, 45, 45);
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s;
    background-color: rgba(235, 216, 216, 0.566);
}
.app-wordlist-note>button:hover{
    color: rgb(248, 247, 246);
    background-color: rgb(45, 45, 45);
}


.app-wordlist-header h1 {
    margin: 0 0 0 10px;
    padding: 0;
}

.app-wordlist-notes {
    height: calc(100vh - 78px);
    overflow-y: scroll;
}

.app-wordlist-note {
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s;
    display: flex;
    width: 100%;
}



/* チェックボックス */
.app-wordlist-note input{
    width: 3%;
    max-width: 20px;
    margin-right: 15px;
}

/* 英語と削除ボタンの枠 */
.title_deleteButton{
    width: 75%;
}
/* 英語のテキスト */
.wordlist-note-title {
    display: flex;
    justify-content: space-between;
}

.app-wordlist-note p {
    margin: 0;
}

.app-wordlist-note small {
    color: #999;
}

.app-wordlist-note:hover {
    background-color: #b4b1b1;
}

.app-wordlist-note.active {
    background-color: #b4b1b1;
}